:root{
    /* app */
    --commun-box-shadow-for-tags: 0px 3px 5px hsl(0, 1%, 55%); 
    --commun-text-shadow-for-text: 0px 3px 3px hsl(0, 1%, 55%); 
    
    /* body */
    --bkg-color: hsl(0, 0%, 89%);
    --text-color-black: hsl(0, 0%, 5%);

    /* triangulo_shape */
    --triangle-color: hsl(0, 0%, 97%);

    /* navbar */
    --line-color: hsl(0, 0%, 85%);
    --button-navbar-home: hsl(0, 0%, 43%);
}

body{
    background-color: var(--bkg-color);
    font-family:'Roboto', sans-serif;
}

#container{
    margin-left: 10%;
    margin-right: 10%;
    z-index: 1; /*Faz com que mesmo que o triangle seja absolute, ainda mostre todos os container primeiro.*/
    position: relative;
}